





div.container {

  display: flex;
  flex-direction: column;
  justify-content: center;



  > div {


    > div.top {

      display: flex;
      justify-content: center;

      > div {
        width: 500px;
        display: flex;
        justify-content: center;
        padding-top: 25px;
        padding-bottom: 25px;




        > div.left {
          width: 30%;
        }

        > div.right {
          width: 70%;
          display: flex;
          justify-content: flex-end;
          position: relative;

          > button {

            margin-left: 10px;

          }


          > i {
            cursor: pointer;
          }

        }


      }




    }


    > div.add-table-container {

      display: flex;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;


      > max-add {
        width: 300px;
      }

    }


    > max-tables-list {

    }

  }


}
