



<form action="" [formGroup]="form" (ngSubmit)="addTable()">

  <input type="text" class="form-control" placeholder="after_id" formControlName="after_id">
  <input type="text" class="form-control" placeholder="name" formControlName="name">
  <input type="text" class="form-control" placeholder="participants" formControlName="participants">


  <div>
    <button type="submit" class="btn btn-default">add table</button>
    <button class="btn btn-danger" (click)="close()">cancel</button>
  </div>


</form>
