



<div class="container">


  <div>

    <div class="top">

      <div>

        <div class="left">
          <span>subscribed ...</span>

        </div>

        <div class="right">
          <button class="btn btn-default">unsubscribe</button>
          <button class="btn btn-default" (click)="toggleSlide()">add table</button>
          <button class="btn-danger">log out</button>

        </div>

      </div>

    </div>


    <div class="add-table-container" [@slide]="change()">
      <max-add></max-add>
    </div>


    <ul>

      <ng-template ngFor let-table [ngForOf]="chatService.tables$ | async" let-s="index">


        <li>


          <div>

            <span>name: {{table.name}}</span>
            <span>participants: {{table.participants}}</span>
            <span>id: {{table.id}}</span>
            <button class="btn btn-danger" (click)="delete(table.id)">delete</button>
            <button class="btn btn-default">edit</button>


            <max-update [id]="table.id"></max-update>



          </div>


        </li>

      </ng-template>

    </ul>


  </div>


</div>

